<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="setup" connectionString="Server=localhost;User=dba;Password=goalie;Database=test"
      providerName="NuoDb.Data.Client" />
    <add name="user1" connectionString="Server=localhost;User=sample02_user1;Password=Usr_2011#_Xls4168;Database=test"
      providerName="NuoDb.Data.Client" />
    <add name="user2" connectionString="Server=localhost;User=sample02_user2;Password=Usr_2011#_Xls4168;Database=test"
      providerName="NuoDb.Data.Client" />
    <add name="user3" connectionString="Server=localhost;User=sample02_user3;Password=Usr_2011#_Xls4168;Database=test"
      providerName="NuoDb.Data.Client" />
  </connectionStrings>
</configuration>
